aiohttp==3.7.3
asgiref==3.3.1
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.11.8
chardet==3.0.4
Django==3.1.4
django-phonenumber-field==5.0.0
geoip2==4.1.0
idna==2.10
maxminddb==2.0.3
multidict==5.0.2
phonenumbers==8.12.13
Pillow==8.0.1
PyJWT==1.7.1
pytz==2020.4
requests==2.25.0
six==1.15.0
sqlparse==0.4.1
twilio==6.47.0
typing-extensions==3.7.4.3
ua-parser==0.10.0
urllib3==1.26.2
user-agents==2.2.0
yarl==1.6.3
