{% extends "accounts_base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
     <div class="flex mb-6 ">
        <h1 class="text-2xl font-semibold mb-2 text-left border-b-4">Password reset sent</h1>
     </div>
    <div class="font-medium">

        <p>We've emailed you instructions for setting your password.</p>
            <div class="bg-orange-100 border-l-4 border-orange-500 text-orange-700 p-4 italic mb-3 mt-3" role="alert">
                <p>If you don't receive an email, please make sure you've entered the correct address you registered with.</p>
            </div>
    </div>
{% endblock %}
