{% extends "post_office/base_email.html" %}

{% block title %}Reset Password{% endblock %}
{% block body %}
    <div>
        <p>Someone asked for password reset for email {{ email }}. Click the button below:</p>
        <a style="padding: 0.7rem 1rem;text-decoration: none;color: #FFF;background:#ff8a00; border-radius: 3rem;margin-top: 1rem; display: inline-block;"
           href="http://{{ domain }}{% url "auth:password_reset_confirm" uidb64=uid token=token %}">
            <strong>Reset Password</strong>
        </a>
        <p>Or copy and paste the following link</p>
        <p>{{ protocol }}://{{ domain }}{% url  "auth:password_reset_confirm" uidb64=uid token=token %}</p>
        <p>Your username, in case you've forgotten: {{ user.get_username }}</p>
    </div>

{% endblock %}


